.title{
    background-color: cornflowerblue;
    color: yellow;
    padding: 10px 7px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 10px 10px 25px black;
    text-shadow: 10px 5px 10px orangered;
}
.product-img{
    width:150px;
    height: 150px;
    width: 0 auto;
}


.priceAndButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width:300px;
    height: 350px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 4px 4px 8px gray;
    text-align: center;
}
.fa-bookmark{
    font-size: 29px;
}

.bookmark-icon{
    position: absolute;
    left: 82%;
   
}

@media only screen and (max-width: 576px) {
    .title{
        width: 50%;
        height: 150px;
        margin: 5px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 0px;
    }
}